.my_plugin__admin-wrapper {
    width: 300px !important;
}

.my_plugin__admin-wrapper * {
    display: block;
    margin: 15px 0px 15px 0;
}

.my_plugin-radio {
    margin-top: .3rem !important;
    margin-left: -1.25rem !important;
}

.my_plugin-radio__label {
    padding-top: 1px;
    margin-left: 4px;
}