
#postForm {
    width: 500px;
    padding: 40px;
    margin: auto;
    text-align: center;
    border: 5px solid #a9a2a2;
}

.form-info {
    width: 500px;
    padding: 40px;
    margin: auto;
    text-align: center;
    border: 5px solid #11e411;
}

.form-info h3 {
    color: #11e411;
    font-size: 31px;
    margin: 0;

}

.form-info p {
    margin: 5px 0 0 0;
    font-weight: bold;
    font-size: 17px;
}

.form-info p > a{
    color: #007bff;

}

#postForm label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
#postForm label:first-child {
    margin-top: 0px;
}

#postForm input {
    display: block;
    width: 250px;
    height: 40px;
    border: 2px solid #000;
    margin: auto;
}

#postForm textarea {
    display: block;
    width: 250px;
    height: 100px;
    resize: none;
    border: 2px solid #000;
    margin: auto;
}

#postForm .myplugin__submit {
    width: 250px;
    height: 50px;
    background: #fff;
    padding: 10px 0px;
    font-size: 18px;
    font-weight: bold;
    transition: all .3s ease-in-out;
    margin-top: 25px;
}

#postForm .myplugin__submit:hover {
    background: #000;
    color: #fff;
}

